body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 600px;
    background: #f0f0f0;
}
div {
    height: 200px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
}
h1 {
    font-family: 'Londrina Shadow', cursive;
    text-align: center;
    font-size: 75px;
    color: #aaaaaa;
    margin: 60px 0 0 0;
}
h2 {
    text-align: center;
    color: #bbbbbb;
    margin: 0px 0 70px 0;
}
p {
    color: #bbbbbb;
    background:#146d7c26;
    background: linear-gradient(bottom,rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
    padding: 10px;
    line-height: 28px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 30px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
}
small {
    opacity: 0;
}

.show-description p {
    height: 150px;
}

.show-description small {
    opacity: 1;
}

.grateful {
    background-image: url("https://i.pinimg.com/originals/2d/7b/7d/2d7b7d30f2affd7800fcb50fdd2ae08d.jpg");
  
}

.affirmations {
    background-image: url("https://i.pinimg.com/originals/d9/ab/2a/d9ab2a3ec20bb38fe1aaedcfbdcdd832.jpg");
    background-size: fit;
}

.today {
    background-image: url("https://i.pinimg.com/736x/68/6e/42/686e4245fa0259d85780dc301daa769a.jpg");
}

.tomorrow {
    background-image: url("https://i.pinimg.com/originals/54/19/32/5419323a628faf17c1b464ba1c7fad14.jpg");
}

.checklist{
    color: #bbbbbb;
    background:#ffffff26;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color:#ffffff26;
  }

 .click {
     float: right;
 }


@media (max-width: 500px) {
    h1 {
      font-size: 50px;
      margin-top: 20px;
      line-height: 40px;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 30px 0;
    }
    div {
      margin: 20px 12px 0 12px;
    }
    p {
      font-size: 10px;
      line-height: 20px;
    }
    small {
      font-size: 16px;
    }
  }

 
